<div class="container-fluid">



  <section class="cd-intro">
    <h1 class="cd-headline letters type">
      <span>My favourite food is</span>
      <span class="cd-words-wrapper waiting">
        <b class="is-visible">pizza</b>
        <b>sushi</b>
        <b>steak</b>
      </span>
    </h1>
  </section>





<section id="content-1-2" class="content-block content-1-2">
<div class="row">
  <div class="col-md-5 col-md-offset-1 col-sm-6">
    <img class="img-responsive" src="http://placehold.it/600x400">
  </div>

  <div class="col-md-5 col-sm-6">
    <h3>Design</h3>
    <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent
      accullignis lomnus.</p>
  </div>
</div>
</section>




<section id="content-1-2" class="content-block content-1-2">
  <div class="container">
    <!-- Start Row -->
    <div class="row">
      <div class="col-sm-6">
        <h2>Copy & paste content blocks</h2>
        <p class="lead">SOme random text.</p>
        <p>Helvetica mustache squid plaid meh Brooklyn hashtag, retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon slow-carb paleo.</p>
        <div class="row">
          <div class="col-sm-5 col-xs-12">
            <a href="#" class="btn btn-block btn-primary">
              <span class="fa fa-cloud-upload"></span>
              clickkk</a>
          </div>
          <div class="col-sm-5 col-xs-12">
            <a href="#" class="btn btn-block btn-warning">
              <span class="fa fa-check"></span>
              another</a>
          </div>
        </div>
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <img class="img-rounded img-responsive" src="assets/dummy-1134x756-Rope.jpg">
      </div>
    </div>
    <!--// END Row -->
  </div>
</section>




<section id="content-3-10" class="content-block-nopad content-3-10">
  <div class="image-container col-sm-6 col-xs-12 pull-left">
    <div class="background-image-holder"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-6 col-xs-12 content">
        <h3>Still nothing to write</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <a href="#" class="btn btn-outline btn-outline outline-dark">clickable</a>
      </div>
    </div>
    <!-- /.row-->
  </div>
  <!-- /.container -->
</section>
<section id="content-1-6" class="content-1-6 content-block">
  <div class="container">
    <div class="row text-center">
      <h2>My current projects</h2>
    </div>
    <!--end of row-->
    <div class="row client-row">
      <div class="row-wrapper">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <img alt="client" src="assets/dummy-1134x756-Rope.jpg">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <img alt="client" src="images/partner-logos/logo-less.png">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <img alt="client" src="images/partner-logos/logo-sass.png">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <img alt="client" src="images/partner-logos/logo-jquery.png">
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Only delete this to enable second row

    <div class="row client-row">
      <div class="row-wrapper">
        <div class="col-md-3 hidden-sm hidden-xs">
          <img alt="client" src="images/partner-logos/logo-grunt.png">
        </div>
        <div class="col-md-3 hidden-sm hidden-xs">
          <img alt="client" src="images/partner-logos/logo-bower.png">
        </div>
        <div class="col-md-3 hidden-sm hidden-xs">
          <img alt="client" src="images/partner-logos/logo-yeoman.png">
        </div>
        <div class="col-md-3 hidden-sm hidden-xs">
          <img alt="client" src="images/partner-logos/logo-angularjs.png">
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>




<div class="col-sm-10 col-sm-offset-1">
  <div class="underlined-title">
    <h1>Get in Touch</h1>
    <hr>
    <h2>Feel free to drop us a line to contact us</h2>
  </div>
  <p>Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia.</p>
  <ul class="contact-info">
    <li>
      <span class="fa fa-map-marker"></span>
      <wp-span>16 Queen's Mews, Covent Garden, London, LO2 4ON</wp-span>
    </li>
    <li>
      <span class="fa fa-phone"></span>
      <wp-span>+44 (0) 1234 5678</wp-span>
    </li>
    <li>
      <span class="fa fa-envelope"></span>
      <a href="mailto:buyme@example.com">buyme@example.com</a>
    </li>
  </ul>
  <div id="contact" class="form-container">
    <div id="message"></div>
    <form method="post" action="js/contact-form.php" name="contactform" id="contactform">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <input name="name" id="name" type="text" value="" placeholder="Name" class="form-control" />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <input name="email" id="email" type="text" value="" placeholder="Email" class="form-control" />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <input name="phone" id="phone" type="text" value="" placeholder="Phone" class="form-control" />
          </div>
        </div>
      </div>
      <!-- /.row -->
      <div class="form-group">
        <textarea name="comments" id="comments" class="form-control" rows="3" placeholder="Message" id="textArea"></textarea>
        <p class="small text-muted"><span class="guardsman">* All fields are required.</span> Once we receive your message we will respond as soon as possible.</p>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id="cf-submit" name="submit">Send</button>
      </div>
    </form>
  </div>
  <!-- /.form-container -->
</div>









<section id="content-1-1" class="content-block content-1-1 min-height-600px bg-white">
  <div class="container text-center">
    <h1>Freedom of expression</h1>
    <div class="col-sm-8 col-sm-offset-2">
      <p class="lead">Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent.</p>
    </div>
  </div>
</section>



<section id="content-2-10" class="content-2-10 content-block">
  <div class="container bg-white border-box">
    <div class="col-md-8 col-xs-12 pull-left">
      <h2>to some random site</h2>
    </div>
    <div class="col-md-3 col-xs-12 pull-right">
      <a href="#" class="btn btn-lg btn-info btn-block">More Info</a>
    </div>
  </div>
</section>



</div>
